.container {
  display: flex;;
  background-color: var(--nn-blue);
  color: var(--nn-white);
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: border 0.5s ease;
}

.card-image {
  float: left;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: white;
  width: 90px;
  height: 90px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 20px;
}

.card-title {
  margin-left: 20px;
  padding-top: 25px;
  font-size: 20px;
  white-space:nowrap;
}

.card-content{
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  gap: 15px;
  
}

.item-highlight {
  background-color: var(--nn-cyan);
  color: var(--nn-blue);
  border-radius: 5px ;
  padding: 0px 5px 0px 5px;
  font-weight: 500;
}

p {
  white-space:nowrap;
  color: #546368;
  font-weight: 500;
}

.item-white {
  color: var(--nn-white);
}

.image{
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-top: 8px;
  margin-left: 8px;
}

.container:hover {
  border: 1px solid var(--nn-cyan);
}


