<div class="sticky-top">
  <div class="row">
    <div class="user-container float-right">
      <div class="user-icon"></div>
      <p class="user-name">User</p>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle drop-btn"
          role="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Logout</a>
        </ul>
      </div>
    </div>
  </div>
</div>
