<div class="sticky-top">
  <div class="row">
    <div class="user-container float-right" *ngIf="isLoggedIn">
      <div class="user-icon"></div>
      <p class="user-name">{{ username }}</p>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle drop-btn"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="logout()"
        >
        </button>
      </div>
    </div>
  </div>
</div>
