.active {
  color: var(--nn-cyan);
}

/* SIDE CONTAINER */

.nav-container{
  display: flex;
  height: 100%;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nn-blue);
  width: 300px;
  height: 100%;
  gap: 12px;
  float: left;
  @media (max-width: 1400px) {
    width: 225px;;
    transition: all 0.3s ease;
  }
}

.logo-container {
margin: 37px;
}

.logo {
  width: 100px;
  height: 25px;
}

.nav-items {
  display: flex;
  align-content: flex-start;
  align-items: center;
  gap: 5px;
  flex-basis: auto;
  width: 260px;
  height: 58px;
  background-color: var(--nn-blue);
  border-radius: var(--nn--border-radius-medium);
  transition: background-color 0.5s ease;
  @media (max-width: 1400px) {
    width: 200px;;
  transition: all 0.3s ease;
  }
}

.icons {
  color: var(--nn-white);
  margin: 25px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  transition: background-color 0.5s ease;
}

.nav-title .text-body {
  color: var(--nn-white);
  transition: background-color 0.5s ease;
}

.nav-items:hover {
  background-color: var(--nn-cyan);
}

.nav-items:hover .nav-title {
  color: var(--nn-blue);
}

.nav-items:hover .icons {
  filter: invert(100%);
}

.package {
  color: var(--nn-cyan);
}

/* TOP CONTAINER */


.user-container {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
  height: 80px;
  border-bottom: 4px solid var(--nn-blue);
  flex-grow: 1; /* Add this line */

}

.user-icon{
  float: right;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--nn-white);
}

/* SUB NAV */

.sub-nav {
  display: none;
}

#warehouses:hover .sub-nav {
  display: block;
}

/* DORPDOWN */


.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nn-blue);
  width: 100px;
  height: 45px;
  color: var(--white);
  border-radius: var(--nn--border-radius-xs);
  right: 140px;
  top: 50px;
  display: none;
}

.drop-btn{
  background: transparent;
  border: none;
  cursor: pointer;
}











