.active {
  color: var(--nn-cyan);
}

/* SIDE CONTAINER */

.nav-container {
  background-color: var(--nn-blue);
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

.side-container {
  align-items: center;
  justify-content: center;
  background-color: var(--nn-blue);
  height: 100%;
}

.logo-container {
  margin-top: 36px;
  margin-bottom: 36px;
}

.logo {
  width: 100px;
  height: 25px;
}

.nav-items {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 58px;
  background-color: var(--nn-blue);
  border-radius: var(--nn--border-radius-medium);
  transition: background-color 0.5s ease;
  margin-bottom: 10px;
}

.icons {
  color: var(--nn-white);
  margin: 25px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  transition: background-color 0.5s ease;
}

.nav-title .text-body {
  color: var(--nn-white);
  transition: background-color 0.5s ease;
}

.nav-items:hover {
  background-color: var(--nn-cyan);
}

.nav-items:hover .nav-title {
  color: var(--nn-blue);
}

.nav-items:hover .icons {
  filter: invert(100%);
}

.package {
  color: var(--nn-cyan);
}
