<div class="side-container">
  <div class="logo-container">
    <img class="logo" src="../../../../assets/icons/NatureNook.svg" alt="" />
  </div>

  <div class="nav-items">
    <img
      class="icons"
      src="https://img.icons8.com/dotty/80/FFFFFF/dashboard.png"
      alt="dashboard"
    />
    <a class="nav-title">Create New Package</a>
  </div>

  <div class="nav-items">
    <img
      class="icons"
      src="https://img.icons8.com/dotty/80/FFFFFF/dashboard.png"
      alt="dashboard"
    />
    <a class="nav-title">Dashboard</a>
  </div>
  <div class="nav-items">
    <img
      class="icons"
      src="https://img.icons8.com/ios/50/FFFFFF/open-parcel.png"
      alt="open-parcel"
    />
    <a
      class="nav-title"
      routerLink="/packages"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Packages</a
    >
  </div>

  <div class="nav-items" id="warehouses">
    <img
      class="icons"
      src="https://img.icons8.com/dotty/80/FFFFFF/garage-closed.png"
      alt="garage-closed"
    />
    <a class="nav-title">Warehouses</a>
    <div class="sub-nav">
      <div class="nav-items">
        <img
          class="icons"
          src="https://img.icons8.com/dotty/80/FFFFFF/dashboard.png"
          alt="dashboard"
        />
        <a class="nav-title">Joburg</a>
      </div>
      <div class="nav-items">
        <img
          class="icons"
          src="https://img.icons8.com/dotty/80/FFFFFF/dashboard.png"
          alt="dashboard"
        />
        <a class="nav-title">Cape Town</a>
      </div>
    </div>
  </div>
  
</div>

<div class="user-container">
  <p class="user-name">User</p>
  <div class="user-icon"></div>
</div>
