


  <div class="side-container">
    <div class="logo-container">
      <img class="logo" src="../../../../assets/icons/NatureNook.svg" alt="" />
    </div>

    <div class="nav-items">
      <img
        class="icons"
        src="https://img.icons8.com/dotty/80/FFFFFF/dashboard.png"
        alt="dashboard"
      />
      <a class="nav-title">Create New Package</a>
    </div>

    <div class="nav-items">
      <img
        class="icons"
        src="https://img.icons8.com/dotty/80/FFFFFF/dashboard.png"
        alt="dashboard"
      />
      <a class="nav-title">Dashboard</a>
    </div>
    <div class="nav-items">
      <img
        class="icons"
        src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/external-logistics-shipping-delivery-kmg-design-detailed-outline-kmg-design-2.png"
        alt="Packages"
      />
      <a
        class="nav-title"
        routerLink="/packages"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Packages</a
      >
    </div>
    <div class="nav-items">
      <img
        class="icons"
        src="https://img.icons8.com/dotty/80/FFFFFF/garage-closed.png"
        alt="garage-closed"
      />
      <a class="nav-title">Warehouses</a>
    </div>
    <div class="nav-items">
      <img
        class="icons"
        src="https://img.icons8.com/dotty/80/FFFFFF/dashboard.png"
        alt="dashboard"
      />
      <a class="nav-title">Dashboard</a>
    </div>
  </div>

  <div class="user-container">
    <p class="user-name">User</p>
    <div class="user-icon"></div>
  </div>
 


