<div class="row ">
    <!-- Cards Row 1 -->
    <div class="col-lg-4 my-2" *ngIf="packages[4]">
        <div class="card Package-cards-styling btn hover-card">
            <div class="image-container">
                <img *ngIf="packages[4]?.image" [src]="packages[4].image" class="card-img-top" alt="{{packages[4]?.name || 'Image Description'}}">
                <div class="hover-text">{{packages[4].description}} <br><b>R</b> {{packages[4].price}}</div> <!-- Example text to show on hover -->
            </div>
            <div class="card-body row ">
                <h6 class="card-title col-12">{{packages[4].category}}</h6>
                <!-- <h6 class="col-12"><b>R</b> {{packages[2].price}}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-2" *ngIf="packages[0]">
        <div class="card Package-cards-styling btn hover-card">
            <div class="image-container">
                <img *ngIf="packages[0]?.image" [src]="packages[0].image" class="card-img-top" alt="{{packages[0]?.name || 'Image Description'}}">
                <div class="hover-text">{{packages[0].description}} <br><b>R</b> {{packages[0].price}}</div> <!-- Example text to show on hover -->
            </div>
            <div class="card-body row ">
                <h6 class="card-title col-12">{{packages[0].category}}</h6>
                <!-- <h6 class="col-12"><b>R</b> {{packages[2].price}}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-2" *ngIf="packages[1]">
        <div class="card Package-cards-styling btn hover-card">
            <div class="image-container">
                <img *ngIf="packages[1]?.image" [src]="packages[1].image" class="card-img-top" alt="{{packages[1]?.name || 'Image Description'}}">
                <div class="hover-text">{{packages[1].description}} <br><b>R</b> {{packages[1].price}}</div> <!-- Example text to show on hover -->
            </div>
            <div class="card-body row ">
                <h6 class="card-title col-12">{{packages[1].category}}</h6>
                <!-- <h6 class="col-12"><b>R</b> {{packages[2].price}}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-2" *ngIf="packages[2]">
        <div class="card Package-cards-styling btn hover-card">
            <div class="image-container">
                <img *ngIf="packages[2]?.image" [src]="packages[2].image" class="card-img-top" alt="{{packages[2]?.name || 'Image Description'}}">
                <div class="hover-text">{{packages[2].description}} <br><b>R</b> {{packages[2].price}}</div> <!-- Example text to show on hover -->
            </div>
            <div class="card-body row ">
                <h6 class="card-title col-12">{{packages[2].category}}</h6>
                <!-- <h6 class="col-12"><b>R</b> {{packages[2].price}}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-2" *ngIf="packages[3]">
        <div class="card Package-cards-styling btn hover-card">
            <div class="image-container">
                <img *ngIf="packages[3]?.image" [src]="packages[3].image" class="card-img-top" alt="{{packages[3]?.name || 'Image Description'}}">
                <div class="hover-text">{{packages[3].description}} <br><b>R</b> {{packages[3].price}}</div> <!-- Example text to show on hover -->
            </div>
            <div class="card-body row ">
                <h6 class="card-title col-12">{{packages[3].category}}</h6>
                <!-- <h6 class="col-12"><b>R</b> {{packages[2].price}}</h6> -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-2" *ngIf="packages[5]">
        <div class="card Package-cards-styling btn hover-card">
            <div class="image-container">
                <img *ngIf="packages[5]?.image" [src]="packages[5].image" class="card-img-top" alt="{{packages[5]?.name || 'Image Description'}}">
                <div class="hover-text">{{packages[5].description}} <br><b>R</b> {{packages[5].price}}</div> <!-- Example text to show on hover -->
            </div>
            <div class="card-body row ">
                <h6 class="card-title col-12">{{packages[5].category}}</h6>
                <!-- <h6 class="col-12"><b>R</b> {{packages[2].price}}</h6> -->
            </div>
        </div>
    </div>
    
</div>