<div class="row">
    <!-- Cards Row 1 -->
    <div class="col-lg-4">
        <div class="card Package-cards-styling">
            <img src="https://i.pinimg.com/564x/1e/2b/d3/1e2bd320faaf1f34e5f006d44f4fe917.jpg" class="card-img-top" alt="Image Description">
            <div class="card-body">
                <h6 class="card-title">One Person</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card Package-cards-styling">
            <img src="https://i.pinimg.com/564x/22/2e/36/222e368536aab2285c5eb9a31388cd0f.jpg" class="card-img-top" alt="Image Description">
            <div class="card-body">
                <h6 class="card-title">One Person</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card Package-cards-styling">
            <img src="https://i.pinimg.com/564x/0a/7f/1d/0a7f1db37c3dfa52ce24f077f61a8de6.jpg" class="card-img-top" alt="Image Description">
            <div class="card-body">
                <h6 class="card-title">One Person</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card Package-cards-styling">
            <img src="https://i.pinimg.com/564x/0a/7f/1d/0a7f1db37c3dfa52ce24f077f61a8de6.jpg" class="card-img-top" alt="Image Description">
            <div class="card-body">
                <h6 class="card-title">One Person</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card Package-cards-styling">
            <img src="https://i.pinimg.com/564x/0a/7f/1d/0a7f1db37c3dfa52ce24f077f61a8de6.jpg" class="card-img-top" alt="Image Description">
            <div class="card-body">
                <h6 class="card-title">One Person</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card Package-cards-styling">
            <img src="https://i.pinimg.com/564x/0a/7f/1d/0a7f1db37c3dfa52ce24f077f61a8de6.jpg" class="card-img-top" alt="Image Description">
            <div class="card-body">
                <h6 class="card-title">One Person</h6>
            </div>
        </div>
    </div>
    
</div>