<div class="container landing-container">

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <div class="row landing-logo-container">
                <img src="../../../../assets/icons/NatureNook-Since2024.svg" alt="">
            </div>
            <div class="row">
                <p>The Lorm alphabet is a method of tactile signing named after Hieronymus Lorm, who developed it in the late 19th century. Letters are spelled by tapping or stroking different parts of the listener's hand. The Lorm alphabet is mostly used in German-speaking countries, the Netherlands, Czech Republic, Poland and Georgia.</p>
            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
        </div>

    <div class="col-md-5">
        
    </div>
    </div>

    
    
</div>


