<div class="container landing-container">
    <!-- About NatureNook -->
    <div class="row justify-content-center gap-5 ">
        <div class="col-md-10 p-2 card landingpage-warehouses-cards">
            <div class="image-container position-relative">
                <img class="logo-image-size position-absolute" src="../../assets/icons/NatureNook-Since2024.svg" alt="">
                <img class="card-img-top landingpage-image" src="../../assets/background-images/landingpage-background.jpg" alt="Card image cap">
            </div>

            <div class="row mt-3">
                <div class="col-md-5"><hr></div>
                <h4 class="col-md-2">About us</h4>
                <div class="col-md-5"><hr></div>
            </div>

            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vivamus at augue eget arcu dictum varius duis at consectetur. Viverra orci sagittis eu volutpat. Pellentesque nec nam aliquam sem et tortor consequat id porta. Risus pretium quam vulputate dignissim. Urna porttitor rhoncus dolor purus non enim praesent elementum. Arcu bibendum at varius vel. Habitant morbi tristique senectus et netus et malesuada. Ultricies lacus sed turpis tincidunt id. Magnis dis parturient montes nascetur ridiculus mus mauris. Ac tortor dignissim convallis aenean et tortor at risus. Erat imperdiet sed euismod nisi porta. Vitae purus faucibus ornare suspendisse sed nisi. Dictum sit amet justo donec.
                    <br>
                    <br>
                    Amet nisl suscipit adipiscing bibendum est ultricies. Dolor sit amet consectetur adipiscing elit. Sed vulputate odio ut enim blandit. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Magna eget est lorem ipsum dolor sit amet consectetur adipiscing. Dignissim convallis aenean et tortor at risus viverra. Orci phasellus egestas tellus rutrum tellus. Dignissim cras tincidunt lobortis feugiat vivamus at. Bibendum est ultricies integer quis auctor elit sed. Eleifend donec pretium vulputate sapien nec sagittis.
                </p>
            </div>

            <div class="row mt-3">
                <div class="col-md-5"><hr></div>
                <h4 class="col-md-2">Warehouses</h4>
                <div class="col-md-5"><hr></div>
            </div>

            <!-- About the warehouses -->
            <div class="row justify-content-center gap-5 ">
                <!-- About Johannesburg Card -->
                <div class="col-md-3 p-2 card landingpage-warehouses-cards">
                    <img class="card-img-top" src="https://i.pinimg.com/564x/57/6f/ec/576fec29ffd0fca0c775005c10d5c67b.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Johannesburg</h5>
                    </div>
                </div>
                <!-- About Cape Town Card -->
                <div class="col-md-3 p-2 card landingpage-warehouses-cards">
                    <img class="card-img-top" src="https://i.pinimg.com/564x/a5/a6/02/a5a602a0d29a0299eeed24b9363bae95.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cape Town</h5>
                    </div>
                </div>
                <!-- About Durban Card -->
                <div class="col-md-3 p-2 card landingpage-warehouses-cards">
                    <img class="card-img-top" src="https://i.pinimg.com/564x/42/c1/2b/42c12be417cc774646dd9b21ed5f3442.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Durban</h5>
                    </div>
                </div>
            </div>

            <!-- Indept Johannesburg -->
            <div class="row mt-3 justify-content-center">
                <div class="col-md-4"><hr></div>
                <h4 class="col-md-3">Johannesburg</h4>
                <div class="col-md-4"><hr></div>
            </div>

                <div class="card-body">
                    <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vivamus at augue eget arcu dictum varius duis at consectetur. Viverra orci sagittis eu volutpat. Pellentesque nec nam aliquam sem et tortor consequat id porta. Risus pretium quam vulputate dignissim. Urna porttitor rhoncus dolor purus non enim praesent elementum. Arcu bibendum at varius vel. Habitant morbi tristique senectus et netus et malesuada. Ultricies lacus sed turpis tincidunt id. Magnis dis parturient montes nascetur ridiculus mus mauris. Ac tortor dignissim convallis aenean et tortor at risus. Erat imperdiet sed euismod nisi porta. Vitae purus faucibus ornare suspendisse sed nisi. Dictum sit amet justo donec.
                    </p>
                </div>

                <!-- Indept Cape Town-->
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-5"><hr></div>
                    <h4 class="col-md-2">Cape Town</h4>
                    <div class="col-md-5"><hr></div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vivamus at augue eget arcu dictum varius duis at consectetur. Viverra orci sagittis eu volutpat. Pellentesque nec nam aliquam sem et tortor consequat id porta. Risus pretium quam vulputate dignissim. Urna porttitor rhoncus dolor purus non enim praesent elementum. Arcu bibendum at varius vel. Habitant morbi tristique senectus et netus et malesuada. Ultricies lacus sed turpis tincidunt id. Magnis dis parturient montes nascetur ridiculus mus mauris. Ac tortor dignissim convallis aenean et tortor at risus. Erat imperdiet sed euismod nisi porta. Vitae purus faucibus ornare suspendisse sed nisi. Dictum sit amet justo donec.
                    </p>
                </div>

                <!-- Indept Durban -->
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-5"><hr></div>
                    <h4 class="col-md-2">Durban</h4>
                    <div class="col-md-5"><hr></div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vivamus at augue eget arcu dictum varius duis at consectetur. Viverra orci sagittis eu volutpat. Pellentesque nec nam aliquam sem et tortor consequat id porta. Risus pretium quam vulputate dignissim. Urna porttitor rhoncus dolor purus non enim praesent elementum. Arcu bibendum at varius vel. Habitant morbi tristique senectus et netus et malesuada. Ultricies lacus sed turpis tincidunt id. Magnis dis parturient montes nascetur ridiculus mus mauris. Ac tortor dignissim convallis aenean et tortor at risus. Erat imperdiet sed euismod nisi porta. Vitae purus faucibus ornare suspendisse sed nisi. Dictum sit amet justo donec.
                    </p>
                </div>
            
        </div>
    </div>
    
    
</div>