<div class="row">
    <div class="col-1"></div>
    <div class="first-box col-2">
      <label for="">Total Stock:</label>
      <p class="units">{{ totalStock }} Units</p>
    </div>
    <div class="stock-quantity-box col-2">
      <label for="">Total Location:</label>
      <p class="units">{{ totalStockAtLocation }} Units</p>
    </div>
    <div class="stock-quantity-box col-2">
      <label for="">Revenue Amount:</label>
      <p class="units">R{{ totalPriceOfItems }}</p>
    </div>
    <div class="stock-quantity-box col-2">
      <label for="">Total Custom Crafted:</label>
      <p class="units">{{ totalCrafted }} Units</p>
    </div>
  </div>
  