<div class="container preview-box">
    <h4>Preview</h4>
    <div class="col-lg-12">
        <div class="card Package-cards-styling" style="background-image: url('https://i.pinimg.com/564x/1e/2b/d3/1e2bd320faaf1f34e5f006d44f4fe917.jpg');"></div>
            <div class="card-body preview-info">
                <div class="row">
                    <h5 class="card-title col-9">One Person Package</h5>
                    <h5 class="col-3"><b>R</b>5000</h5>
                </div>

                <hr>

                <div class="row">
                    <h5 class="col-sm-1"><b>1</b></h5>
                    <h5 class="card-title col-sm-8">Water Bottle</h5>
                    <h5 class="col-sm-3"><b>R</b>1250</h5>
                </div>
                <div class="row">
                    <h5 class="col-sm-1"><b>1</b></h5>
                    <h5 class="card-title col-sm-8">Tent</h5>
                    <h5 class="col-sm-3"><b>R</b>1250</h5>
                </div>
                <div class="row">
                    <h5 class="col-sm-1"><b>1</b></h5>
                    <h5 class="card-title col-sm-8">Sleeping Bag</h5>
                    <h5 class="col-sm-3"><b>R</b>1250</h5>
                </div>
                <div class="row">
                    <h5 class="col-sm-1"><b>1</b></h5>
                    <h5 class="card-title col-sm-8">Medkit</h5>
                    <h5 class="col-sm-3"><b>R</b>1250</h5>
                </div>
                <div class="row">
                    <h5 class="col-sm-1"><b>1</b></h5>
                    <h5 class="card-title col-sm-8">Backpacks</h5>
                    <h5 class="col-sm-3"><b>R</b>1250</h5>
                </div>
                <div class="row">
                    <h5 class="col-sm-1"><b>1</b></h5>
                    <h5 class="card-title col-sm-8">Sleeping Mattress</h5>
                    <h5 class="col-sm-3"><b>R</b>1250</h5>
                </div>
                <div class="row">
                    <div class="btn buy-btn col-sm-12"><h5>Buy</h5></div>
                </div>
                
            </div>
    </div>
</div>
