<div class="container mt-3">
    <div class="row mt-5">
        <!-- Left Container: Packages and Search -->
        <div class="col-lg-7">
            <!-- Top row with All Packages, Search bar, and Dropdown list -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <h5 class="mt-1">Custom Packages</h5>
                </div>
                <div class="col-md-5"></div>
                <!-- <div class="col-md-3">
                    <input type="text" class="form-control search-style" placeholder="Search...">
                    <span class="icon"><i class="fas fa-search"></i></span>
                </div> -->
                <div class="col-md-3">
                    <!-- <select class="form-select dropdown-style" aria-label="Package options">
                        <option selected>Warehouses</option>
                        <option value="1">Johannesburg</option>
                        <option value="2">Cape Town</option>
                        <option value="3">Durban</option>
                    </select> -->
                    <select class="form-select dropdown-style" aria-label="Package options">
                        <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.location}}</option>
                    </select>
                </div>
            </div>

            <!-- Custom div box -->
            <div class="container input-styling">
                <!-- row 1 -->
                <div class="row">
                    <div class="col-12">
                        <label class="label-styling">Water Bottle</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select dropdown-style2" aria-label="Package options">
                            <option selected>Select...</option>
                            <option value="1">Hydro Flask 532ML Standerd Mouth Bottle</option>
                            <option value="2">K-way Explore 750ML water bottle</option>
                            <option value="3">Ecovessel Bouder 710ML Bottle</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control dropdown-style2" aria-label="Quantity" placeholder="QTY.">
                    </div>
                </div> 

                <!-- row 2 -->
                <div class="row">
                    <div class="col-12">
                        <label class="label-styling">Tents</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select dropdown-style2" aria-label="Package options">
                            <option selected>Select...</option>
                            <option value="1">Hydro Flask 532ML Standerd Mouth Bottle</option>
                            <option value="2">K-way Explore 750ML water bottle</option>
                            <option value="3">Ecovessel Bouder 710ML Bottle</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control dropdown-style2" aria-label="Quantity" placeholder="QTY.">
                    </div>
                </div> 

                <!-- row 3 -->
                <div class="row">
                    <div class="col-12">
                        <label class="label-styling">Sleeping Bags</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select dropdown-style2" aria-label="Package options">
                            <option selected>Select...</option>
                            <option value="1">Hydro Flask 532ML Standerd Mouth Bottle</option>
                            <option value="2">K-way Explore 750ML water bottle</option>
                            <option value="3">Ecovessel Bouder 710ML Bottle</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control dropdown-style2" aria-label="Quantity" placeholder="QTY.">
                    </div>
                </div> 

                <!-- row 4 -->
                <div class="row">
                    <div class="col-12">
                        <label class="label-styling">Medkits</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select dropdown-style2" aria-label="Package options">
                            <option selected>Select...</option>
                            <option value="1">Hydro Flask 532ML Standerd Mouth Bottle</option>
                            <option value="2">K-way Explore 750ML water bottle</option>
                            <option value="3">Ecovessel Bouder 710ML Bottle</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control dropdown-style2" aria-label="Quantity" placeholder="QTY.">
                    </div>
                </div> 

                <!-- row 5 -->
                <div class="row">
                    <div class="col-12">
                        <label class="label-styling">Backpacks</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select dropdown-style2" aria-label="Package options">
                            <option selected>Select...</option>
                            <option value="1">Hydro Flask 532ML Standerd Mouth Bottle</option>
                            <option value="2">K-way Explore 750ML water bottle</option>
                            <option value="3">Ecovessel Bouder 710ML Bottle</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control dropdown-style2" aria-label="Quantity" placeholder="QTY.">
                    </div>
                </div> 

                <!-- row 6 -->
                <div class="row">
                    <div class="col-12">
                        <label class="label-styling">Sleeping Mattress</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select dropdown-style2" aria-label="Package options">
                            <option selected>Select...</option>
                            <option value="1">Hydro Flask 532ML Standerd Mouth Bottle</option>
                            <option value="2">K-way Explore 750ML water bottle</option>
                            <option value="3">Ecovessel Bouder 710ML Bottle</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control dropdown-style2" aria-label="Quantity" placeholder="QTY.">
                    </div>
                </div> 

            </div> 
        </div>
        <!-- Right Container: Preview Column -->
        <div class="col-lg-4">
            <app-right-side-preview-box />
        </div>
    </div>
</div>
