<div class="row">
  <div class="col-1"></div>
  <div class="first-box col-lg-2">
    <label for="">Total Stock:</label>
    <p class="units">3140 Units</p>
  </div>
  <div class="stock-quantity-box col-lg-2">
    <label for="">Total Crafted:</label>
    <p class="units">31 Units</p>
  </div>
  <div class="stock-quantity-box col-lg-2">
    <label for="">Revenue Amount:</label>
    <p class="units">R30,201 Units</p>
  </div>
  <div class="stock-quantity-box col-lg-2">
    <label for="">Total Custom Crafted:</label>
    <p class="units">3140 Units</p>
  </div>
</div>
