<app-warehouse-stock-quantity
  [items]="FilteredItems"
  [selectedLocationId]="selectedInventoryId"
/>

<div class="container">
  <div class="row">
    <!-- Left Container: Packages and Search -->
    <div class="col-9">
      <!-- Top row with All Packages, Search bar, and Dropdown list -->
      <div class="row">
        <div class="col-md-3">
          <h5 class="mt-1 title">{{ getSelectedLocationName() }}</h5>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control search-style"
            placeholder="Search..."
            [(ngModel)]="searchQuery"
            (input)="searchItems()"
          />
          <span class="icon"><i class="fas fa-search"></i></span>
        </div>
        <div class="col-md-3">
          <select
            class="form-select dropdown-style"
            aria-label="Package options"
            [(ngModel)]="selectedInventoryId"
            (ngModelChange)="FilterItems()"
            selectedValue="1"
            placeholder="Select Location"
          > 
            <option [value]="1" selected="selected">Johannesburg</option>
            <option value="2">Cape Town</option>
            <option value="3">Durban</option>
          </select>
        </div>
      </div>
      <app-warehouse-table
        *ngFor="let item of FilteredItems"
        [item]="item"
        (click)="selectItem(item)"
        class="warehouse-table"
        [ngClass]="{ 'selected-style': selectedItem === item }"
      ></app-warehouse-table>
    </div>

    <div *ngIf="selectedItem" class="col-md-3">
      <div class="image-container">
        <h3 class="image-title">Preview</h3>
        <div class="image">
          <img class="img" src="../../../../assets/item-images/{{selectedItem.icon}}"  alt="" />
        </div>
      </div>

      <div class="edit-items">
        <div class="label-input">
          <label for="quantity">Quantity</label>
          <input
            [(ngModel)]="selectedItem.quantity"
            class="nn-input"
            placeholder="Units"
            type="text"
            id="quantity"
            name="quantity"
            required
          />
        </div>
        <div class="label-input">
          <label for="price">Price</label>
          <input
            [(ngModel)]="selectedItem.price"
            class="nn-input"
            placeholder="Price"
            type="text"
            id="price"
            name="price"
            required
          />
        </div>
      </div>
      <div class="label-input">
        <label for="name">Name</label>
        <input
          [(ngModel)]="selectedItem.name"
          class="nn-input"
          placeholder="Name"
          type="text"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="label-input">
        <label for="category">Category</label>
        <input
          [(ngModel)]="selectedItem.category"
          class="nn-input"
          placeholder="Category"
          type="text"
          id="category"
          name="category"
          required
        />
      </div>
      <div class="label-input">
        <label for="category">Brand</label>
        <input
          [(ngModel)]="selectedItem.brand"
          class="nn-input"
          placeholder="Category"
          type="text"
          id="category"
          name="category"
          required
        />
      </div>
      <div class="label-input">
        <label for="category">Model</label>
        <input
          [(ngModel)]="selectedItem.model"
          class="nn-input"
          placeholder="Category"
          type="text"
          id="category"
          name="category"
          required
        />
      </div>

      <div class="button-holder">
        <button (click)="updateItem()" class="edit-btn">Edit</button>
      </div>
    </div>
  </div>
</div>
